{% extends 'base.html' %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPbZxfen1D9RkM2aie5Z_KcjSUGcfRpFZ0OQ&usqp=CAU"
                alt="Aboutus">
            <div class="carousel-caption d-none d-md-block" style="top: 35%;">
            </div>
        </div>
    </div>
</div>
{% endblock content%}